.post-wrapper {
    max-width: 100vw;

    .post {
        max-width: 720px;
        height: 450px;
        background: white;
        margin: auto;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;    
        margin-top: 20px;
    }
}